.tradingViewStyle {
  width: 1200px;
  height: 70vh;
}

@media screen and (max-width: 1920px) {
  .tradingViewStyle {
    width: 1000px;
    height: 70vh;
  }
}

@media screen and (max-width: 1366px) {
  .tradingViewStyle {
    width: 800px;
    height: 70vh;
  }
}

@media screen and (max-width: 1280px) {
  .tradingViewStyle {
    position: absolute;
    top: 80rem;
    right: 50%;
    transform: translate(50%, -50%);
    width: 1000px;
    height: 70vh;
  }
}

@media screen and (max-width: 1024px) {
  .tradingViewStyle {
    width: 800px;
    height: 70vh;
  }
}

@media screen and (max-width: 768px) {
  .tradingViewStyle {
    top: 83rem;
    width: 500px;
    height: 70vh;
  }
}

@media screen and (max-width: 601px) {
  .tradingViewStyle {
    display: none;
  }
}