.pageNotFoundContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  align-items: center;
  color: var(--white);
  height: 61vh;
}

.pageNotFoundContainer__button {
  border: none;
  background-color: var(--white);
  border-radius: 1rem;
  padding: 1rem 0.8rem;
  cursor: pointer;
}

.pageNotFoundContainer__button:hover {
  color: var(--white);
  background-color: var(--black);
  outline: 1px solid white;
}